@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

// Reset
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
}